---
http_interactions:
- request:
    method: post
    uri: https://euid.theplatform.com/idm/data/User/UBpRu2vqlRVlcA0H?account=http://mps.theplatform.com/data/Account/2673532949&form=json&schema=1.0&token=zBm3M7d2CChalDQWHOm2geAY4FCSEBDU
    body:
      encoding: UTF-8
      string: '{"$xmlns":{"pluser":"http://xml.theplatform.com/auth/data/User"},"pluser$ownerId":"http://mps.theplatform.com/data/Account/2673532949","pluser$userName":"","pluser$email":"","pluser$password":"good_password"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"title":"ValidationException","description":"User name and password
        are required to create a user.","isException":true,"responseCode":422,"correlationId":"a1b1b663-e2a0-4016-9c0a-20e3562fc3c2","serverStackTrace":"com.theplatform.module.exception.ValidationException:
        User name and password are required to create a user.\n\tat com.theplatform.data.validation.error.DefaultValidationErrorHandler.handleError(DefaultValidationErrorHandler.java:30)\n\tat
        com.theplatform.data.validation.ValidationHandler.validate(ValidationHandler.java:108)\n\tat
        com.theplatform.authentication.data.pipeline.UserCreatePersistencePhase.doCreate(UserCreatePersistencePhase.java:92)\n\tat
        com.theplatf[...]
