---
http_interactions:
- request:
    method: get
    uri: https://data.media2.theplatform.com/media/data/Media/373829661?form=cjson&schema=1.2&token=zBm3M7d2CChalDQWHOm2geAY4FCSEBDU
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"$xmlns":{"pl1":"http://access.auth.theplatform.com/data/Account/2673532949"},"id":"http://data.media2.theplatform.com/media/data/Media/373829661","guid":"017128BE-7BE1-DBC7-895A-4184FDEF7A88","updated":1455377695000,"title":"Taken
        3","author":"","description":"","added":1452798172000,"ownerId":"http://access.auth.theplatform.com/data/Account/2673532949","addedByUserId":"https://identity.auth.theplatform.com/idm/data/User/mpx/2693039","updatedByUserId":"https://identity.auth.theplatform.com/idm/data/User/mpx/2693039","version":1,"locked":false,"availableDate":0,"expirationDate":0,"categories":[{"name":"Movies","scheme":"","label":""}],"copyright":"","copyrightUrl":"","credits":[],"keywords":"","ratings":[],"countries":[],"excludeCountries":true,"text":"","content":[{"audioChannels":0,"audioSampleRate":0,"bitrate":0,"checksums":{},"contentType":"video","duration":0.000,"expression":"full","fileSize":0,"frameRate":0.0,"format":"M3U","height":0,"isDefault":false,"language":"","sourceTime":0.000,"url":"http://svr2.n2me.tv/vod/Taken_3_HD_2/Taken_3_HD_2.m3u8","width":0,"id":"http://data.media2.theplatform.com/media/data/MediaFile/373829663","guid":"U3c0yiffebmS_ErOecuTSo8FHHejwXm0","ownerId":"http://access.auth.theplatform.com/data/Account/2673532949","added":1452798201000,"updated":1455377695000,"addedByUserId":"https://identity.auth.theplatform.com/idm/data/User/service/2689174","updatedByUserId":"https://identity.auth.theplatform.com/idm/data/User/mpx/2693039","version":0,"locked":false,"description":"","title":"Taken_3_HD_2.m3u8","allowRelease":true,"assetTypeIds":["http://data.media2.theplatform.com/media/data/AssetType/372805779"],"assetTypes":["Movies"],"audioCodec":"","audioSampleSize":0,"downloadUrl":"","exists":true,"failoverStreamingUrl":"","failoverSourceUrl":"","filePath":"","isProtected":false,"isThumbnail":false,"mediaId":"http://data.media2.theplatform.com/media/data/Media/373829661","protectionKey":"","releases":[{"id":"http://data.media2.theplatform.com/media/data/Release/524869609","guid":"F5TMcx3seZlw201nP9SbFvaKab9koKG0","ownerId":"http://access.auth.theplatform.com/data/Account/2673532949","added":1455377695000,"updated":1455377695000,"addedByUserId":"https://identity.auth.theplatform.com/idm/data/User/mpx/2693039","updatedByUserId":"https://identity.auth.theplatform.com/idm/data/User/mpx/2693039","version":0,"locked":false,"description":"","approved":true,"delivery":"streaming","mediaId":"http://data.media2.theplatform.com/media/data/Media/373829661","fileId":"http://data.media2.theplatform.com/media/data/MediaFile/373829663","pid":"ztu4qGt70_RH","parameters":"","url":"http://link.theplatform.com/s/VAuWfC/ztu4qGt70_RH","restrictionId":"","adPolicyId":""}],"serverId":"","sourceMediaFileId":"","sourceUrl":"http://svr2.n2me.tv/vod/Taken_3_HD_2/Taken_3_HD_2.m3u8","storageUrl":"","streamingUrl":"http://svr2.n2me.tv/vod/Taken_3_HD_2/Taken_3_HD_2.m3u8","transferInfo":{"password":"","privateKey":"","userName":"","zones":["Public"],"supportsDownload":false,"supportsStreaming":true},"transformId":"","videoCodec":"","approved":true,"protectionScheme":"","aspectRatio":0.0,"previousLocations":[]}],"thumbnails":[{"audioChannels":0,"audioSampleRate":0,"bitrate":0,"checksums":{"md5":"0C61BA3751BE3DFEEF46EE32B6F0C939"},"contentType":"image","duration":0.000,"expression":"full","fileSize":401112,"frameRate":0.0,"format":"JPEG","height":1200,"isDefault":true,"language":"","sourceTime":0.000,"url":"akamai://tpr369599-nsu.akamaihd.net/369599/thumbnail/Supercloud_-_Trial_Account/357/525/TVNX_00363747_0216631_4.jpg","width":800,"id":"http://data.media2.theplatform.com/media/data/MediaFile/373829662","guid":"e6nsvjEcYCTzPV3o1rK7iD9RgewSB0Z3","ownerId":"http://access.auth.theplatfor[...]
