<script>
  <% if current_user.name.present? %>
  var chat_name = "<%= current_user.name %>" ;
  <% else %>
  var chat_name = "Promo User" ;
  <%end %>
  var chat_id = <%= current_user.id %>;
  var chat_avatar = "<%= current_user.avatar  %>";
</script>

<div id="cometchat_embed_synergy_container" style="width: 100%; height: 420px;max-width:100%;border:1px solid #CCCCCC;" ></div>
<script src="//10504.cometondemand.net/js.php?type=core&name=embedcode" type="text/javascript"></script><script>var iframeObj = {};iframeObj.module="synergy";iframeObj.style="min-height:350px;min-width:300px;";iframeObj.src="//10504.cometondemand.net/cometchat_popout.php"; if(typeof(addEmbedIframe)=="function"){addEmbedIframe(iframeObj);}
</script>