---
http_interactions:
- request:
    method: get
    uri: https://euid.theplatform.com/idm/web/Self/getSelf?form=json&schema=1.0&token=5UgjHl8u2i78oELUHHliocCk8GDuQEBS
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"getSelfResponse":{"fullName":"User5 Fullname","id":"https://euid.theplatform.com/idm/data/User/UBpRu2vqlRVlcA0H/243953456","userName":"user5@example.com","email":"user5@example.com"}}'
  recorded_at: Sat, 06 Feb 2016 00:41:42 GMT
recorded_with: VCR 3.0.1
