<%= form_tag("/schedule", method: "post", id: "tvForm") do %>

<div class="container desktop">
	<div class="row search-board">
		<div class="col-md-3 date-board"><p class="truncate"></p></div>
		<div class="col-md-9">
			<div class="search-bar relative-pos">
				<div class="center" style="width: 100%">
					<div class="col-md-3">					
						<div id="custom-search-input">
                            <div class="input-group">
                                <input type="text" class="search-query form-control" placeholder="Search Listings"  id="listings-search-term" name="listings_search_term"><i class="fa fa-search fa-fw listings-button-icon" id="listings-search-submit"></i>
							</div>
                        </div>
					</div>

					<div class="col-md-6 listings-details-column listings-date-time-search row">
						<div class="col-md-6 col-xs-6" >
							<select id="listings-date-picker-date-select" name="listings_date_picker_date_select" class="listings-picker-select"></select>
						</div>

						<div class="listings-date-picker-time-total col-md-6 col-xs-6" >
							
							<select id="listings-date-picker-time-select" class="listings-picker-select" name="listings_date_picker_time_select"><optgroup label="Quick Jump"><option value="17">Primetime</option><option value="now">Now</option></optgroup><optgroup label="Times"><option value="00">12:00 AM</option><option value="01">1:00 AM</option><option value="02">2:00 AM</option><option value="03">3:00 AM</option><option value="04">4:00 AM</option><option value="05">5:00 AM</option><option value="06">6:00 AM</option><option value="07">7:00 AM</option><option value="08">8:00 AM</option><option value="09">9:00 AM</option><option value="10">10:00 AM</option><option value="11">11:00 AM</option><option value="12">12:00 PM</option><option value="13">1:00 PM</option><option value="14">2:00 PM</option><option value="15">3:00 PM</option><option value="16">4:00 PM</option><option value="17">5:00 PM</option><option value="18">6:00 PM</option><option value="19">7:00 PM</option><option value="20">8:00 PM</option><option value="21">9:00 PM</option><option value="22">10:00 PM</option><option value="23">11:00 PM</option></optgroup></select>
						
							<button id="listings-date-time-picker-go" class="">GO</button>
						</div>
					</div>
					<div class="col-md-3 listings-details-column listings-details-preferences-column">
						<a href="#" onclick="return false" id="listings-favorites-button" data-toggle="modal" data-target="#gridSystemModal"><i class="fa fa-heart fa-fw listings-button-icon"></i> Favorites</a>
						<a href="#" onclick="return false" id="listings-preferences-button" data-toggle="modal" data-target="#grid_preferences"><i class="fa fa-gear fa-fw listings-button-icon"></i> Preferences</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="row" id="yield-area">
		
	</div>	
</div>

<input type="hidden" name="cur_now" id="cur_now"></input>
<input type="hidden" name="utc_locale" id="utc_locale"></input>
<input type="hidden" name="favorite_changed" id="favorite_changed" value="false"></input>
<input type="hidden" name="search_word" id="search_word">
<input type="hidden" name="preference_changed" id="preference_changed" value="false"></input>
<input type="hidden" name="st_filter_hidden" id="st_filter_hidden"></input>

<!-- Start: Favorite Modal Definition -->
<div id="gridSystemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel">Favorite Channels</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
	        <div class="row">
		        <div class="col-md-6 col-md-offset-3">
		            <input type="search" id="container-search" value="" class="form-control" placeholder="SEARCH FOR A CHANNEL">
	        	</div>
	        </div>

	        <div class="row" id="searchable-container">
			    
			</div>
		   
        </div>
      </div>
      <div class="modal-footer row">
      	<div class="listings-favorites-bulk-buttons col-md-6">
        	<button class="listings-favorites-bulk-button listings-favorites-bulk-add">
        		<span class="fa fa-plus"></span> Add All
        	</button> 
        	<button class="listings-favorites-bulk-button listings-favorites-bulk-remove">
        		<span class="fa fa-minus"></span> Remove All
        	</button>	
        </div>
        <div class="col-md-6">
	        <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
	        <button type="button" class="btn btn-primary">SAVE FAVORITES</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End: Favorite Modal Definition -->


<!-- Start: Detailed Info Board Of Program-->

<div class="modal fade bd-example-modal-lg" id = "pro_info" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="channel-info"></div>
      <div class="pro-info"></div>
    </div>
  </div>
</div>

<!-- End: Detailed Info Board -->


<!-- Start: Preferences Modal Definition -->
<div id="grid_preferences" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel">Grid Preferences</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
	        <div class="row">
		        <div class="col-md-5">
		        	<p class="setting-title">Initial Time</p>
		        	<p class="question">
		    			When you first open listings, what time should the grid be opened to?
		    		</p>
		    		<div class="radio">
						<label><input type="radio" name="initial_time" value="now"><span>Current Time</span></label>
					</div>
					<div class="radio">
						<label><input type="radio" name="initial_time" value="5"><span>5 PM</span></label>
					</div>
					<div class="radio">
						<label><input type="radio" name="initial_time" value="7"><span>7 PM</span></label>
					</div>
					<div class="radio">
						<label><input type="radio" name="initial_time" value="9"><span>9 PM</span></label>
					</div>
		        </div>
		        <div class="col-md-7">
		        	<p class="setting-title">Station Filters</p>
		        	<p class="question">
		        		Customize your grid by showing or hiding different station types.
		        	</p>

		        	<div class="checkbox">
						<label><input type="checkbox" name="station_filter" value="broadcast"><span>Broadcast</span></label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" name="station_filter" value="cable"><span>Cable</span></label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" name="station_filter" value="community"><span>Community</span></label>
					</div>
		        </div>		        
	        </div>
		    
		    <div class="row">
		    	<div class="col-md-5">
		    		<p class="setting-title">Timespan</p>
		    		<p class="question">
		    			How many hours do you want to see at once?
		    		</p>
		    		<div class="radio">
						<label><input type="radio" name="time_span" value="1"><span>1 hour</span></label>
					</div>
					<div class="radio">
						<label><input type="radio" name="time_span" value="2"><span>2 hour</span></label>
					</div>
					<div class="radio">
						<label><input type="radio" name="time_span" value="3"><span>3 hour</span></label>
					</div>
		    	</div>
		        <div class="col-md-7">
		        	<p class="setting-title">Grid Height</p>
		        	<p class="question">
		        		How many channels should the listings grid be contained to?
		        	</p>
		        	<div class="radio">
						<label><input type="radio" name="grid_height" value="7"><span>7 Channels</span></label>
					</div>
					<div class="radio">
						<label><input type="radio" name="grid_height" value="14"><span>14 Channels</span></label>
					</div>
					<div class="radio">
						<label><input type="radio" name="grid_height" value="21"><span>21 Channels</span></label>
					</div>
		        </div>	
		    </div>
        </div>
      </div>
      <div class="modal-footer row">
      	<div class="col-md-12">
	      	<button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
		    <button type="button" class="btn btn-primary">SAVE PREFERENCES</button>
      	</div>
      </div>
    </div>
  </div>
</div>
<!-- End: Preferences Modal Definition -->

<% end %>

<%= include_gon %>
<%= javascript_include_tag('schedule/search') %>








