---
http_interactions:
- request:
    method: get
    uri: https://data.product.theplatform.com/product/data/Product/?fields=id,title,longDescription,images,scopes,pricingPlan,description&form=cjson&schema=2.5.0&token=zBm3M7d2CChalDQWHOm2geAY4FCSEBDU
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"startIndex":1,"itemsPerPage":500,"entryCount":11,"entries":[{"id":"http://data.product.theplatform.com/product/data/Product/22231758","title":"Taken
        3","description":"Ex-covert operative Bryan Mills (Liam Neeson) and his ex-wife,
        Lenore (Famke Janssen), are enjoying a reconciliation when Lenore is brutally
        murdered. Bryan is framed for the crime and flees, with the CIA, FBI and police
        all in hot pursuit. For the last time, he channels his rage and particular
        set of skills into hunting down Lenore''s real killers, taking his revenge
        and protecting the one important thing left in his life: his daughter, Kim
        (Maggie Grace).","longDescription":"","images":{"uncategorized":[{"mediaFileId":"http://data.media2.theplatform.com/media/data/MediaFile/373829662","height":1200,"width":800,"url":"http://pmd369599tn.download.theplatform.com.edgesuite.net/Supercloud_-_Trial_Account/357/525/TVNX_00363747_0216631_4.jpg"}]},"pricingPlan":{"isTaxIncluded":false,"isRecurring":false,"pricingTiers":[{"absoluteStart":1455151920000,"absoluteEnd":1483160400000,"rightsIds":["http://data.entitlement.theplatform.com/eds/data/Rights/62384649"],"subscriptionUnits":"month","billingFrequency":0,"minimumSubscriptionPeriod":0,"productTagIds":[],"productTags":[],"amounts":{"USD":14.99},"isBlackout":false,"isActive":true}],"masterAgreementStartDate":1455080400000,"masterAgreementEndDate":1483160400000,"masterProductTagIds":[]},"scopes":[{"scopeId":"http://data.media2.theplatform.com/media/data/Media/373829661","id":"http://data.media2.theplatform.com/media/data/Media/373829661","guid":"017128BE-7BE1-DBC7-895A-4184FDEF7A88","title":"Taken
        3","description":"","fulfillmentStatus":"fulfillable"}]},{"id":"http://data.product.theplatform.com/product/data/Product/22185028","title":"Cloud
        Latino","description":"Get this package for only $24.99 a month!","longDescription":"Cloud
        Latino","images":{},"pricingPlan":{"isTaxIncluded":false,"isRecurring":true,"pricingTiers":[{"absoluteStart":1451701860000,"absoluteEnd":1483160400000,"rightsIds":["http://data.entitlement.theplatform.com/eds/data/Rights/62384649"],"subscriptionUnits":"month","billingFrequency":1,"minimumSubscriptionPeriod":0,"productTagIds":[],"productTags":[],"amounts":{"USD":24.99},"isBlackout":false,"isActive":true}],"providerId":"http://data.media2.theplatform.com/media/data/Provider/156741765","masterProductTagIds":[]},"scopes":[{"scopeId":"http://data.product.theplatform.com/product/data/Subscription/20394435","id":"http://data.product.theplatform.com/product/data/Subscription/20394435","guid":"M3BLK96iz2hHPCaJyEPTwTjX9dn4HocV","title":"Cloud
        Latino","description":"(18 Mobibase Latino channels in one package) (sub-category)Subscription)","fulfillmentStatus":"fulfillable"}]},{"id":"http://data.product.theplatfo[...]
