<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <% if field.data.present? %>
    <%= image_tag(field.data.url, style: 'max-width:100px;max-height:100px') %>
  <% end %>
  <%= f.file_field field.attribute %>
</div>
