<!--Banner Start-->
			<div class="cp_inner-banner">
				<div class="container">
					<div class="cp-inner-banner-holder">
						<h2>Category: <strong>Live TV</strong></h2>
						<!--Breadcrumb Start-->
						<ul class="breadcrumb">
							<li><span>Filter:</span>  <a href="#">International | News | Sports | Kids & Family</a></li>
							
						</ul><!--Breadcrumb End-->
					</div>
				</div>
			</div><!--Banner End-->
  <!--Main Content Start-->
  <div id="cp-main-content">
    <section class="cp-section pd-tb60">
      <div class="container"> 
      <!--Featured Video Block 2-->
            <div class="cp-featured-block m60">
              <div class="row">
                <div class="col-md-12 cp-heading-outer">
                  <h2>Sports Videos</h2>
                  <ul class="cp-listed">
                    <li class="view-all"><a href="category-sports.html">View All:</a></li>
                  </ul>
                </div>
                <div class="featured-blocks">
                  <div class="col-md-5 col-lg-3">
                    <figure class="cp-thumb"> <img alt="" src="images/fi-1.jpg">
                      <figcaption class="cp-caption"> <a class="play-video" href="video.html">Play</a>
                        <div class="cp-text">
                          <h4>Mini Deep Dish Pizzas </h4>
                          <ul class="cp-meta-list">
                            <li>Feb 26, 2016</li>
                            <li>by Jiana Smith, <span>19 Views</span></li>
                          </ul>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                  <div class="col-md-5 col-lg-3">
                    <figure class="cp-thumb"> <img alt="" src="images/fi-2.jpg">
                      <figcaption class="cp-caption"> <a class="play-video" href="video.html">Play</a>
                        <div class="cp-text">
                          <h4>Mini Deep Dish Pizzas</h4>
                          <ul class="cp-meta-list">
                            <li>Feb 26, 2016</li>
                            <li>by Jiana Smith, <span>27 Views</span></li>
                          </ul>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                  <div class="col-md-5 col-lg-3">
                    <figure class="cp-thumb"> <img alt="" src="images/fi-3.jpg">
                      <figcaption class="cp-caption"> <a class="play-video" href="video.html">Play</a>
                        <div class="cp-text">
                          <h4>Mini Deep Dish Pizzas </h4>
                          <ul class="cp-meta-list">
                            <li>Feb 26, 2016</li>
                            <li>by Jiana Smith, <span>44 Views</span></li>
                          </ul>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                  <div class="col-md-5 col-lg-offset-0 col-lg-3">
                    <figure class="cp-thumb"> <img alt="" src="images/fi-3.jpg">
                      <figcaption class="cp-caption"> <a class="play-video" href="video.html">Play</a>
                        <div class="cp-text">
                          <h4>Mini Deep Dish Pizzas </h4>
                          <ul class="cp-meta-list">
                            <li>Feb 26, 2016</li>
                            <li>by Jiana Smith, <span>44 Views</span></li>
                          </ul>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
            <!--Featured Video Block 2 End--> 
      
        <!--Outer Holder Start-->
        
        <div class="cp-outer-holder cp-featured-video">
          <div class="row">
            <div class="col-md-12 cp-heading-outer">
              <h2>Category Title</h2>
              <ul class="cp-listed">
                <li class="view-all"><a href="#">View All:</a></li>
              </ul>
            </div>
          </div>
          <div id="featured-video">
            <div class="item"> 
              <!-- Video Item Start-->
              <div class="cp-video-item">
                <figure class="cp-thumb"> <img src="images/channel-amc.png" alt="AMC - East Coast Feed">
                  <figcaption class="cp-caption"> <a href="video.html" class="play-video">Play</a> </figcaption>
                </figure>
                <div class="cp-text">
                  <h4><a href="#">AMC</a></h4>
                  <ul class="cp-meta-list">
                    <li>Live Feed EST</li>
                    <li>Languages:<span>English | Espanol | French</span></li>
                  </ul>
                </div>
              </div>
              <!-- Video Item End--> 
            </div>
            <div class="item"> 
              <!-- Video Item Start-->
              <div class="cp-video-item">
                <figure class="cp-thumb"> <img src="images/video-img-02.jpg" alt="">
                  <figcaption class="cp-caption"> <a href="video.html" class="play-video">Play</a> </figcaption>
                </figure>
                <div class="cp-text">
                 <h4><a href="#">Channel Name</a></h4>
                  <ul class="cp-meta-list">
                    <li>Live Feed EST</li>
                    <li>Languages:<span>English | Espanol | French</span></li>
                  </ul>
                </div>
              </div>
              <!-- Video Item End--> 
            </div>
            <div class="item"> 
              <!-- Video Item Start-->
              <div class="cp-video-item">
                <figure class="cp-thumb"> <img src="images/video-img-03.jpg" alt="">
                  <figcaption class="cp-caption"> <a href="video.html" class="play-video">Play</a> </figcaption>
                </figure>
                <div class="cp-text">
                  <h4><a href="#">Channel Name</a></h4>
                  <ul class="cp-meta-list">
                    <li>Live Feed EST</li>
                    <li>Languages:<span>English | Espanol | French</span></li>
                  </ul>
                </div>
              </div>
              <!-- Video Item End--> 
            </div>
            <div class="item"> 
              <!-- Video Item Start-->
              <div class="cp-video-item">
                <figure class="cp-thumb"> <img src="images/video-img-04.jpg" alt="">
                  <figcaption class="cp-caption"> <a href="video.html" class="play-video">Play</a> </figcaption>
                </figure>
                <div class="cp-text">
                  <h4><a href="#">Channel Name</a></h4>
                  <ul class="cp-meta-list">
                    <li>Live Feed EST</li>
                    <li>Languages:<span>English | Espanol | French</span></li>
                  </ul>
                </div>
              </div>
              <!-- Video Item End--> 
            </div>
            <div class="item"> 
              <!-- Video Item Start-->
              <div class="cp-video-item">
                <figure class="cp-thumb"> <img src="images/video-img-01.jpg" alt="">
                  <figcaption class="cp-caption"> <a href="video.html" class="play-video">Play</a> </figcaption>
                </figure>
                <div class="cp-text">
                 <h4><a href="#">Channel Name</a></h4>
                  <ul class="cp-meta-list">
                    <li>Live Feed EST</li>
                    <li>Languages:<span>English | Espanol | French</span></li>
                  </ul>
                </div>
              </div>
              <!-- Video Item End--> 
            </div>
            <div class="item"> 
              <!-- Video Item Start-->
              <div class="cp-video-item">
                <figure class="cp-thumb"> <img src="images/video-img-01.jpg" alt="">
                  <figcaption class="cp-caption"> <a href="video.html" class="play-video">Play</a> </figcaption>
                </figure>
                <div class="cp-text">
                 <h4><a href="#">Channel Name</a></h4>
                  <ul class="cp-meta-list">
                    <li>Live Feed EST</li>
                    <li>Languages:<span>English | Espanol | French</span></li>
                  </ul>
                </div>
              </div>
              <!-- Video Item End--> 
            </div>
            <div class="item"> 
              <!-- Video Item Start-->
              <div class="cp-video-item">
                <figure class="cp-thumb"> <img src="images/video-img-01.jpg" alt="">
                  <figcaption class="cp-caption"> <a href="video.html" class="play-video">Play</a> </figcaption>
                </figure>
                <div class="cp-text">
                 <h4><a href="#">Channel Name</a></h4>
                  <ul class="cp-meta-list">
                    <li>Live Feed EST</li>
                    <li>Languages:<span>English | Espanol | French</span></li>
                  </ul>
                </div>
              </div>
              <!-- Video Item End-->  
            </div>
            <div class="item"> 
             <!-- Video Item Start-->
              <div class="cp-video-item">
                <figure class="cp-thumb"> <img src="images/video-img-01.jpg" alt="">
                  <figcaption class="cp-caption"> <a href="video.html" class="play-video">Play</a> </figcaption>
                </figure>
                <div class="cp-text">
                 <h4><a href="#">Channel Name</a></h4>
                  <ul class="cp-meta-list">
                    <li>Live Feed EST</li>
                    <li>Languages:<span>English | Espanol | French</span></li>
                  </ul>
                </div>
              </div>
              <!-- Video Item End-->  
            </div>
          </div>
        </div>
        
        <!--Outer Holder End--> 
      </div>
    </section>
       
  <!--Main Content End-->