---
http_interactions:
- request:
    method: get
    uri: https://euid.theplatform.com/idm/web/Authentication/signIn?form=json&password=good_password&schema=1.1&userName=UBpRu2vqlRVlcA0H/person2@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"signInResponse":{"userId":"https://euid.theplatform.com/idm/data/User/UBpRu2vqlRVlcA0H/244111143","token":"ujElHNq8Wnkg__ESrBkQAeCOMFC4MAD6","duration":315360000000,"userName":"person2@example.com","idleTimeout":14400000}}'
  recorded_at: Fri, 05 Feb 2016 18:25:56 GMT
recorded_with: VCR 3.0.1
