<!--Footer Start-->
<footer class="cp_footer">
  <!--Instagram Section Start-->
  <section class="cp-instagram-section">
    <div class="cp-ins-text">
      <h4>Recently Watched</h4>
      <i class="fa fa-history"></i>
    </div>
    <ul class="cp-instagram-listed">
      <li>
        <figure class="cp-ins-item">
          <a href="#"><img src="demo/amc-recent.jpg" alt=""></a>
        </figure>
      </li>
      <li>
        <figure class="cp-ins-item">
          <a href="#"><img src="demo/espn-recent.jpg" alt=""></a>
        </figure>
      </li>
      <li>
        <figure class="cp-ins-item">
          <a href="#"><img src="demo/awe-recent.jpg" alt=""></a>
        </figure>
      </li>
      <li>
        <figure class="cp-ins-item">
          <a href="#"><img src="demo/amc-recent.jpg" alt=""></a>
        </figure>
      </li>
      <li>
        <figure class="cp-ins-item">
          <a href="#"><img src="demo/awe-recent.jpg" alt=""></a>
        </figure>
      </li>
      <li>
        <figure class="cp-ins-item">
          <a href="#"><img src="demo/espn-recent.jpg" alt=""></a>
        </figure>
      </li>
      <li>
        <figure class="cp-ins-item">
          <a href="#"><img src="demo/awe-recent.jpg" alt=""></a>
        </figure>
      </li>
      <li>
        <figure class="cp-ins-item">
          <a href="#"><img src="demo/amc-recent.jpg" alt=""></a>
        </figure>
      </li>
    </ul>
  </section><!--Instagram Section End-->
  <!--Third Section Start-->
  <section class="cp-ft-third-section">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12"> <strong class="cp-ft-logo"><a href="index.html"><img src="images/cp-logo2.png" alt=""></a></strong> </div>
        <div class="col-md-7 col-sm-7 col-xs-12">
          <ul class="cp-ft-dropdown-listed">
            <li>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> Language: English <span class="caret"></span> </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">English</a></li>
                  <li><a href="#">Espanol</a></li>
                  <li><a href="#">French</a></li>
                </ul>
              </div>
            </li>
            <li>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> Parental Controls: Off <span class="caret"></span> </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <li><a href="#">On</a></li>
                  <li><a href="#">Off</a></li>
                  <li><a href="#">Configure</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#"><i class="fa fa-hourglass-start"></i>History</a></li>
            <li><a href="#"><i class="fa fa-question-circle"></i>Help</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!--Third Section End-->

  <!--Copyright Section Start-->
  <section class="cp-copyright-section">
    <div class="container">

      <nav class="cp-ft-nav cp-ft-nav2">
        <ul>

          <li>&copy; 2016 <a href="index.html">SuperCloud Inc</a></li>
        </ul>
      </nav>
    </div>
  </section>
  <!--Copyright Section End-->

</footer>
<!--Footer End-->